<%= content_for :title, "Photos" %>

<div class="photo-grid">
  <%= render partial: "photo_card", collection: @photos, as: :photo,
             locals: { likes_by_photo_id: @likes_by_photo_id } %>
</div>
